*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.cabecera
{
	position: relative;
	width: 100%;
	height: 350px;
	
}

.cabecera:not(#logoPrincipal)
{
	background-color: #98ada4;
}

.img_logo
{
	position: absolute;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.menuArriba nav
{
	width: 100%;
	height: 50px; /*necesario ya que al ponerle float al li, este no adapta su ancho*/
	background-color: #7d8b5a;
}

.menuArriba #menuHorizontal
{
	width: 80%;
	margin: 0 auto;
}

.menuArriba ul li
{
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	list-style: none;
	color: #fff;
	background-color:  #7d8b5a; /*necesario para que la segunda lista tambien tenga un color de fondo*/

	/*
	list-style: none;
	display: inline-block;
	padding: 20px;
	color: #fff;

	*/
}

.menuArriba ul ul
{
	display: none;
}

.menuArriba ul ul li
{
	border-bottom: 1px solid #fff;
}

.menuArriba ul ul li a,
.menuArriba ul li a
{
	text-decoration: none;
	color: #fff;
}

.menuArriba ul li:hover > ul
{
	display: block;
	position: relative;
	z-index: 1;
}

.menuArriba ul li:hover
{
	background: #b5b173;
}

.slider 
{
  display: block;
  width: 100%;
  height: 600px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

  
  .slider .slide 
  {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-animation: slide 10s infinite;
    animation: slide 10s infinite;
    overflow: hidden; 
  }

  .slider .slide:nth-child(2) 
  {
    left: 0%;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
    background-image: url(../imagenes/slider/imagen2.jpg);
    background-size: cover;
    background-position: center; 
  }

  .slider .slide:nth-child(3) 
  {
    left: 100%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    background-image: url(../imagenes/slider/imagen3.jpg);
    background-size: cover;
    background-position: center; 
  }

  .slider .slide:nth-child(4) 
  {
    left: 100%;
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
    background-image: url(../imagenes/slider/imagen4.jpg);
    background-size: cover;
    background-position: center; 
  }

  .slider .slide:nth-child(5) 
  {
    left: 100%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    background-image: url(../imagenes/slider/imagen5.jpg);
    background-size: cover;
    background-position: center; 
  }

  .slider p 
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: white; 
  }

@-webkit-keyframes slide {
  0% 
  {
    left: 100%;
    width: 100%; 
  }

  5% 
  {
    left: 0%; 
  }

  25% 
  {
    left: 0%; 
  }

  30% 
  {
    left: -100%;
    width: 100%; 
  }

  31% 
  {
    left: -100%;
    width: 0%; 
  }

  100% 
  {
    left: 100%;
    width: 0%; 
  }

}

@keyframes slide {
  0% 
  {
    left: 100%;
    width: 100%; 
  }

  5% 
  {
    left: 0%; 
  }

  25% 
  {
    left: 0%; 
  }

  30% 
  {
    left: -100%;
    width: 100%; 
  }

  31% 
  {
    left: -100%;
    width: 0%; 
  }

  100% 
  {
    left: 100%;
    width: 0%; 
  }

}

.productosDestacados
{
	width: 100%;
	background-color: #fff;
}

.tituloSecundario
{
	padding: 25px;
}

.productos
{
	width: 95%;
	max-width: 1479px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tarjeta
{
	position: relative; /*necesario para mantener el encima dentro de la tarjeta*/
	width: 280px;
	height: 300px;
	margin: 40px 60px 40px 60px;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.5);
	transition: box-shadow 0.3s ease-in-out;
}

/* propiedad para que cada tres elementos se genere un salto de linea*/
.tarjeta:nth-child(3n) {
  page-break-after: always; /* CSS 2.1 syntax, el más aceptado por los navegadores */ 
}



.tarjeta:hover .imagenProducto
{
	-webkit-transform:scale(1.45); /* Safari and Chrome */
    -moz-transform:scale(1.45); /* Firefox */
    -ms-transform:scale(1.45); /* IE 9 */
    -o-transform:scale(1.45); /* Opera */
     transform:scale(1.45);
}

.imagenProducto
{
	width: 100%;
	height: 230px;
	object-fit: cover;
	transition: all 0.4s;
}

.encima
{
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #fff;
}

.encima .nombreProducto
{
	margin-top: 20px;
}

.pie
{
	height: 300px;
	padding: 20px;
	background-color: #7d8b5a;
	text-align: center; /*necesario para centrar el div hijo ya que el margin auto no funciona con el display inline_bloke*/
}

.pie .titulo
{
	font-size: 21px;
	margin-bottom: 27px;
}

.menuPie
{
	display: inline-block; /* necesario para que el ancho envuelva el contenido*/
	height: 300px;
	text-align: left; /*necesario para evitar que el text align del padre afecte la posicion del texto del hijo*/
	color: #fff;
}

.menuPie .colMenu
{
	width: 250px;
	padding: 10px;
	float: left;
}

.menuPie .listaMenuPie
{
	list-style-type: none;
}

.menuPie .listaMenuPie li
{
	width: 100%;
	height: 30px;
	margin: 9px 0px;
	font-size: 17px;
}

.menuPie .listaMenuPie li a
{
	text-decoration: none;
	color: #fff;
}

.menuPie .elementoListaRedSocial
{
	line-height: 30px; /*necesario para posicionar el texto de las redes sociales*/
	padding: 3px;
}

.menuPie .elementoListaRedSocial i
{
	margin-right: 10px;
	font-size: 30px;
	float: left;
}


/*------------------------------------------- catalogo --------------------------------------*/

.tituloPrincipal
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 75px;
  font-family: "Roboto", sans-serif;
}

.producto
{
	width: 370px;
	height: 300px;
	position: relative;
	margin: 23px 0px;
}


.imagenFondoProducto
{
	width: 300px;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
	-webkit-filter: blur(3px);
	  -moz-filter: blur(3px);
	  -o-filter: blur(3px);
	  -ms-filter: blur(3px);
	  filter: blur(3px);
}

.encimaProducto
{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: rgba(52, 73, 94, 0.4);
}

.encimaProducto .nombreProductoCatalogo
{
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 3%;
}

.imagenprincipalProducto
{
	width: 325px;
	height: 220px;
	overflow: hidden;
	object-fit: cover;
	position: absolute;
	top:15%;
	left: 14%;
	transition: all 0.4s ease-in-out;
}

.producto .encimaHover
{
	width: 0px;
	height: 100%;
	background: rgba(234,230,210, 0.71);
	position: absolute;
  	top: 0;
  	transition: 0.7s ease;
  	overflow: hidden; /*necesario para que se oculte el boton*/
}

.producto .encimaHover button
{
	width: 250px;
	color: #626D47;
	background-color: rgba(0,0,0,0.0);
	font-size: 30px;
	border: 3px solid #626D47;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}


.producto:hover .encimaHover
{
	width: 100%;
}



/* ----------------------------------- lista producto especifico ---------------------------*/


.contenedorListaPaginacion
{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}

.contenedorListaPaginacion #listaPaginacion
{
	font-size: 18px;
	display: inline-block; /*propiedad para que el ancho envuelva al contenido*/
	list-style-type: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contenedorListaPaginacion #listaPaginacion li
{
	display: inline-block;
	padding: 8px 16px;
	border-radius: 8px;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	
}

.contenedorListaPaginacion #listaPaginacion li.active
{
	background-color: #98ada4;
    color: white;
	
}

.contenedorListaPaginacion #listaPaginacion li:hover:not(.active)
{
	background-color: #eee;
	
}

/*
.contenedorListaPaginacion #listaPaginacion li a
{
	padding: 8px 16px;
	border-radius: 8px;
	text-decoration: none;
	color: #000;
}

.contenedorListaPaginacion #listaPaginacion li a.active
{
	background-color: #98ada4;
    color: white;
}

.contenedorListaPaginacion #listaPaginacion li a:hover:not(.active)
{
	background-color: #eee;
}


*/

/* ---------------------------------- sobre nosotros ---------------------------------------*/

.seccionQuienesSomos
{
	margin: 10px auto 10px auto;
	width: 97%; /* se coloco este tamaño para evitar que se salga del tamaño del padre a la derecha*/
	height: 500px;
	border: 1px solid #000;
	box-sizing: border-box;
}

.contenedorTextoMision
{
	float: left;
	width: 50%;
}

.contenedorTextoMision .tituloSecundario
{
	width: 80%;
	padding: 0;
	margin: 135px auto 40px auto;
}

.contenedorTextoMision p
{
  	text-align: justify;
  	width: 80%;
  	margin: auto;
}

.contenedorImagenMision
{
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.contenedorImagenMision .imagenMision
{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	*/
}

.contenedorArribaVision
{
	width: 100%;
	height: 40%;
	position: relative;
}

.contenedorArribaVision .tituloSecundario
{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 5%;
}

.contenedorAbajoVision
{
	width: 100%;
	height: 60%;
	position: relative;

}

.contenedorAbajoVision .rectangulo
{
	width: 100%;
	height: 100%;
	background-color: #98ada4;
}

.contenedorAbajoVision p
{
	width: 35%;
	text-align: justify;
	position: absolute;
	top: 50%;
	left: 7%;
	transform: translateY(-50%);
	color: #fff;
}


/* ---------------------------------- contacto ---------------------------------------*/

.ubicacion
{
	width: 100%;
	height: 400px;
	position: relative;
	border-bottom: 1px solid #000;
}

.ubicacion p
{
	display: inline-block;
	text-align: justify;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.salasExhibicion
{
	width: 100%;
}

.salasExhibicion .sala
{
	width: 97%;
	height: 350px;
	margin: auto;
	position: relative;
	background-color: #eee;
	border-bottom: 1px solid #000;
}

.salasExhibicion .sala div
{
	display: inline-block;
}

.salasExhibicion .sala img
{
	width: 30%;
	height: 80%;
	object-fit: cover;
	margin-left: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.salasExhibicion .sala .informacion
{
	width: 23%;
	text-align: justify;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translateY(-50%);
}

.salasExhibicion .sala .horarioTelefono
{
	width: 20%;
	text-align: justify;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translateY(-50%);
}

.seccionFormulario
{
	width: 100%;
}

.seccionFormulario form
{
	width: 90%;
	max-width: 1040px;
	margin: auto;
	padding: 52px 0px;
	/* el siguiente codigo es necesario para que los cuadros se alinien al borde del contenedor y tengan un espacio entre si ya que si solo se coloca el margin left en el imput, antes de los 640px se colocan abajo, en cambio con el flex se mantienen el la misma posicion*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.seccionFormulario form div:not(#contenedorMensajes)
{
	width: 48%;
    max-width: 500px;
    height: 60px;
    margin-bottom: 16px;
    font-family: 'open sans';
    box-sizing: border-box;
}

.seccionFormulario form #contenedorMensajes
{
	 width: 100%;
    border: none;
    font-family: 'open sans';
    margin-bottom: 16px;
}

.seccionFormulario form #contenedorMensajes textarea
{
	 width: 100%;
    height: 200px;
    padding: 13px;
    box-sizing: border-box;
}

.seccionFormulario form div label
{
	display: block;
}

.seccionFormulario input[type="text"],
.seccionFormulario input[type="email"] 
{
	width: 100%;
	height: 36px;
	box-sizing: border-box;
}

.seccionFormulario input[type="text"]:focus,
.seccionFormulario input[type="email"]:focus,
.seccionFormulario textarea:focus {
    border: 1px solid #b5b173;
}


.seccionFormulario input[type="submit"] 
{
	width: 96px;
    padding: 13px;
    border: 1px solid #000;
    border-radius: 40px;
	background-color: #fff;
}


/* -------------------------------------- Detalle Producto -----------------------*/


/* cambiando las caracteristicas del body*/

.inBackground
{

	overflow: hidden;
    position: fixed;

}

.modal 
{
    position: fixed; /* Stay in place */
    top: 0;/*necesario para que aparezca en la pantalla*/
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	display: none;
}


.modal .contenedorDetalle 
{
	width: 80%;
	height: 95%;
	max-width: 950px;
	max-height: 802.75px;
	margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-top: 2%;
    position: relative;
    overflow-y: scroll; /* necesario para hacer scroll cuando se pasa del alto del modal*/
}

.modal .contenedorDetalle .imagen
{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.modal .contenedorDetalle img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.modal .contenedorDetalle .nombreProducto
{
	margin-left: 3%;
	margin-top: 15px;
	font-size: 30px;
}

.modal .contenedorDetalle .informacion
{
	width: 100%;
	height: 190px;
	position: relative;
}

.modal .contenedorDetalle .informacion .descripcion
{
	width: 50%;
	margin-left: 4%;
	text-align: justify;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.modal .contenedorDetalle .informacion .productoDisponible
{
	position: absolute;
	right: 0;
	margin-right: 2%;
}

.modal .contenedorDetalle .informacion .precioProducto
{
	position: absolute;
	right: 0;
	margin-right: 2%;
	margin-top: 60px;
	color: #85bb65
}

.modal .contenedorDetalle .tituloSecundario
{
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.modal .contenedorDetalle #dimensiones
{
	display: inline-block;
	margin-left: 4%;
	margin-bottom: 30px;
}

.modal .contenedorDetalle footer
{
	width: 100%;
	height: 75px;
}

.modal .contenedorDetalle footer input[type="submit"]
{
	width: 96px;
    padding: 13px;
    background-color: #98ada4;
    position: absolute;
    right: 3%;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* ---------------------------------- Proforma -----------------------------*/

#contenedorProductos
{
	width: 95%;
	max-width: 1244px;
	margin: 70px auto 0px auto;
}

#btn_agregarProducto
{
	width: 100%;
	height: 70px;
	padding: 8px 16px;
	margin: 20px 0px;
	border: 2px solid #303030;
	border-radius: 40px;
	position: relative;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

#btn_agregarProducto:hover
{
	cursor: pointer;
}

#contenedorSignoMás
{
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}

#contenedorSignoMás div
{
	width: 100%;
	height: 6px;
	border-radius: 40px;
	background-color: #51AD7A;
	position: absolute;
	top: 22px;
}

#contenedorSignoMás div:nth-child(2n)
{
	transform: rotate(90deg);
}


#btn_agregarProducto p
{
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 26px;
}

#contenedorLista
{
	margin-top: 50px;
}


#etiquetasContenedorFila
{
	padding: 15px 0px;
	border: 1px solid #000;
}

#etiquetasContenedorFila h3
{
	width: 20%;
	display: inline-block;
	text-align: center;
}

#contenedorListaProductos
{
	width: 100%;
}

.filaProducto
{
	width: 100%;
	height: 50px;
	border: 1px solid #000;
	list-style-type: none;
	box-sizing: border-box;
	position: relative;
}

.filaProducto:hover > .contenedorImagenesEditar
{
	visibility: visible;
}

.filaProducto p
{
	width: 20%;
	display: inline-block;
	text-align: center;
	position: relative;
	bottom:5px;
}


.filaProducto .contenedorImagenesEditar
{
	display: inline-block;
	position: relative;
	top: 7px;
	visibility: hidden;
}

.filaProducto .contenedorImagenesAceptar
{
	display: inline-block;
	position: relative;
	top: 7px;
	display: none;
}


.filaProducto img
{
	width: 35px;
	height: 35px;
	margin: 0px 8px;
	cursor: pointer;
}

.filaProducto .contenedorInputEditCantidad
{
	width: 20%;
	position: absolute;
	top: 13px;
	left: 20%;
	text-align: center;
	display: none;
}

.filaProducto .contenedorInputEditCantidad .ipt_cantidadProductoEdit
{
	width: 50px;
	height: 24px;
	padding-left: 5px;
	border: none;
	outline: none;
	border-bottom: 3px solid #30BE5B;
	font-size: 18px;
	text-align: center;
}

#detalleFlete
{
	width: 95%;
	max-width: 1244px;
	height: 150px;
	margin: 30px auto 30px auto;
}
 

 #contenedorTotalKilometros
 {
 	width: 100%;
 	height: 110px;
 	margin: 10px auto 0px auto;
 	border: 1px solid #000;
 	padding: 20px;
 	box-sizing: border-box;
 }

#contenedorTotalKilometros #iptTotalKilometros
{
	width: 60%;
	height: 30px;
	font-size: 18px;
}

#contenedorTotalKilometros button
{
	width: 120px;
	height: 40px;
	border-radius: 40px;
	background-color: #fff;
	border: none;
	margin: 0px 5px;
	font-size: 15px;
	font-weight: bold;
	background-color: #51AD7A;
	color: #fff;

}

#contenedorTotalKilometros #btn_editarFlete,
#contenedorTotalKilometros #btn_eliminarFlete
{
	display: none;
}




#detalleDescuento
{
	width: 95%;
	max-width: 1244px;
	height: 150px;
	margin: 30px auto 30px auto;
}
 

 #contenedorDescuento
 {
 	width: 100%;
 	height: 110px;
 	margin: 10px auto 0px auto;
 	border: 1px solid #000;
 	padding: 20px;
 	box-sizing: border-box;
 }

  #contenedorDescuento p
  {
  	display: inline-block;
  	font-size: 20px;
  	font-weight: bold;
  }

#contenedorDescuento #iptDescuento
{
	width: 15%;
	height: 30px;
	font-size: 18px;
}

#contenedorDescuento button
{
	width: 120px;
	height: 40px;
	border-radius: 40px;
	background-color: #fff;
	border: none;
	margin-left: 15px;
	font-size: 15px;
	font-weight: bold;
	background-color: #51AD7A;
	color: #fff;

}

#contenedorDescuento #btn_cambiarDescuento,
#contenedorDescuento #btn_eliminarDescuento
{
	display: none;
}







#totalPago
{
	width: 95%;
	max-width: 1244px;
	margin: 30px auto 40px auto;
}

#contenedorTotalPago
{
	width: 100%;
 	margin: 10px auto 0px auto;
 	border: 1px solid #000;
 	padding: 10px 20px;
 	box-sizing: border-box;
}

#contenedorTotalPago p
{
	display: inline-block;
	margin: 10px 0px;
}



/*---------------------------------------- modal seleccionar producto disponible --------------------------*/

.contenedorModal
{
	width: 80%;
	max-width: 900px;
	height: 95%;
	max-height: 905px;
	margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll; 
}

.contenedorModal header
{
	width: 100%;
	height: 170px;
	background-color: #7D8B5A;
	position: relative;
}

.contenedorModal header h1
{
	width: 72%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 45px;
	font-weight: normal;
}

.contenedorModal #contenedorBuscador
{
	width: 100%;
	height: 53px;
	text-align: center;
	margin: 40px 0px;
}

.contenedorModal #contenedorBuscador #iptNombreProducto
{
	width: 60%;
	height: 50px;
	font-size: 20px;
	padding-left: 10px;
}

.contenedorModal #contenedorBuscador #btn_buscar
{
	width: 150px;
	height: 50px;
	border-radius: 40px;
	border: 1px solid #7E7E7E;
	background-color: #fff;
	margin-left: 10px;
	font-size: 19px;
	box-shadow: 0px 3px 3px 1px rgba(0,0,0, 0.3);
}

.contenedorModal #contenedorListaProductosDisponibles
{
	width: 88%;
	height: 300px;
	margin: auto;
	overflow-y: scroll; 
	border: 1px solid #B3B3B3; 
}

.contenedorModal #contenedorListaProductosDisponibles #listaProductosDisponibles
{
	width: 100%;
}

.contenedorModal #contenedorListaProductosDisponibles #listaProductosDisponibles .productoDisponible
{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #B3B3B3;
}

.contenedorModal #contenedorListaProductosDisponibles #listaProductosDisponibles .productoDisponible:hover
{
	cursor: pointer;
}

/* clase que indica cual producto selecciono*/
.selected
{
	background-color: #7D8B5A;
	color: #fff;
}

.contenedorModal #contenedorListaProductosDisponibles #listaProductosDisponibles .productoDisponible .nombreProducto
{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 20px;
}


.contenedorModal #contenedorListaProductosDisponibles #listaProductosDisponibles .productoDisponible .precioProducto
{
	display: none;
}

.contenedorModal #contenedorCantidad
{
	width: 40%;
	height: 35px;
	margin-top: 27px;
	margin-left: 50px;
}

.contenedorModal #contenedorCantidad p
{
	font-size: 18px;
	display: inline;
}

.contenedorModal #contenedorCantidad #ipt_cantidadProducto
{
	width: 170px;
	height: 30px;
	margin-right: 5px;
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
	font-size: 20px;
}


.contenedorModal #contenedorListaProductosDisponibles #listaProductosDisponibles #productoNoEncontrado
{
	text-align: center;
	list-style: none;
	display: none;
}

.contenedorModal footer
{
	width: 100%;
	height: 70px;
	text-align: right;
}

.contenedorModal footer #btn_aceptarSeleccion
{
	width: 130px;
	height: 45px;
	border-radius: 40px;
	border: none;
	background-color: #7D8B5A;
	color: #fff;
	font-size: 19px;
}

.contenedorModal footer #btn_cancelarSeleccion
{
	width: 130px;
	height: 45px;
	border-radius: 40px;
	border: 3px solid #7D8B5A;
	background-color: #fff;
	font-size: 19px;
	margin-right: 10px;
	margin-top: 15px;
}


/* ---------------------------------- videos -----------------------------------------*/

.contenedorVideos
{
	width: 100%;
}

.contenedorVideos #listaVideos
{
	width: 100%;
	height: 700px;
}

.contenedorVideos #listaVideos .video
{
	width: 560px;
	float: left;
	margin-right: 10px;
	margin-left: 5px;
}


/* ----------------------------- responsive -----------------------------------------*/
@media screen and (max-width: 866px) {
	.tituloPrincipal{
		font-size: 50px;
	}


	.producto
	{
		width: 80%;
	}

	.imagenFondoProducto
	{
		width: 80%;
	}

	.encimaProducto
	{
		width: 100%;
		background-color: rgba(52, 73, 94, 0.7);
	}

	.encimaProducto .nombreProductoCatalogo
	{
		font-size: 22px;
	}

	.imagenprincipalProducto
	{
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}


	.pie
	  {
	    height: 750px;
	  }
		
	  .menuPie .colMenu
	  {
	    float: none;
	     
	  }

	  .pie .titulo
	  {
	    font-size: 26px;
	    text-align: center;
	  }

	  .menuPie .listaMenuPie li
	  {
	    text-align: center;
	  }

}